.panel {
  display: block;
  margin: 20px;

  &__title {
    display: block;

    padding: 5px;
    background: linear-gradient(to bottom, #FEFEFE, #F8F8F8);
    border: 1px solid lightgrey;
    border-radius: 10px 10px 0 0;
  }

  &__content {
    display: block;

    padding: 5px;
    border: 1px solid lightgrey;
  }
}