.scroll-down-button {
  display: inline-block;
  width: 50px;
  height: 50px;
  line-height: 50px;

  border-radius: 50%;

  background-color: white;
  color: gray;
  text-align: center;
  transition: all $ease-inout-sine 200ms;
  font-weight: $font-weight-bold;
  font-size: 36px;

  animation: scroll-down-button-movement-animation $ease-out-sine 700ms infinite alternate;

  @keyframes scroll-down-button-movement-animation {
    0% { transform: translateY(0px); }
    100% { transform: translateY(5px);}
  }

  &:hover {
    cursor: pointer;
    box-shadow: 0 10px 10px black;
  }

  &--outline {
    background-color: transparent;
    color: white;
    border: 2px solid white;
  }

  &__container {
    display: block;
    text-align: center;

    &--left {
      text-align: left;
    }

    &--right {
      text-align: right;
    }
  }
}