.table {
    width: 100%;
    border: 1px solid lightgray;
    border-spacing: 0;

    thead tr {
        background-color: $color-background-main;
        font-weight: $font-weight-normal;
        color: $color-text-main;

        td{
            border: none;
        }
    }

    td {
        border: 1px solid lightgray;
        padding: 10px;
    }

    &__column {
        &--no-width {
            width: 0;
        }
    }
}

.table-menu {
    float: right;
    margin-bottom: 10px;
    &__item {
        padding-left: 10px;
        padding-right: 10px;

        & + .table-menu__item {
            border-left: 1px solid $color-theme-main;
        }
    }
}