.page-mission {
  width: 90%;
  margin: auto;
  margin-top: 75px;
  margin-bottom: 100px;

  &__title {
    font-size: 30px;
  }

  &__project-title {
    font-size: 20px;
    margin-bottom: 40px;
  }

  &__description {
    padding: 10px;
    border-left: 2px solid $color-theme-main;

    &+ .page-mission__description {
      margin-top: 20px;
    }
  }

  &__contact {
    padding: 10px;
    border: 1px solid lightgray;

    &__title {
      font-size: 16px;
      color: $color-theme-main;
      text-align: center;
    }

    &__info {
      margin-top: 20px;

      &+ .page-mission__contact__info{
        border-top: 1px solid lightgray;
        padding-top: 20px;
      }

      &__line {
        height: 25px;
      }

      &__icon {
        float: left;
        width: 25px;
        text-align: center;
      }

      &__label {
        display: inline-block;
        color: black;

        &:hover {
          text-decoration: none;
          color: black;
        }
      }
    }

    &__view {
      text-align: center;
      border: 1px solid lightgray;
      margin-top: 20px;
      padding: 5px;
    }
  }
}

@media screen and (max-width: 1200px) {
  .page-mission__contact {
    margin-top: 40px;
  }
}