body {
  font-family: "Roboto";
  margin-top: 55px;
  margin-left: 10px;
  min-width: 300px;
}

my-app{
  display: block;
  margin-left: 200px;
}

.content{
  width: 90%;
  margin: auto;
}

.float-right {
  float: right;
}

a {
  color: $color-text-gray;
  text-decoration: none;

  &:focus{
    color: inherit;
    text-decoration: none;
    outline: none;
  }
  &:hover {
    outline: none;
    cursor: pointer;
    color: lighten($color-text-gray, 50%);
  }
}

.link-unstyled {
  color: black;

  &:hover {
    text-decoration: none;
    color: black;
  }
}

.row {
  margin-left: 0;
  margin-right: 0;
}

h1 {
  color: $color-background-main;
}