.form {
    margin-left: auto;
    margin-right: auto;

    &__title {
        font-weight: $font-weight-thin;
        font-size: 25px;
        margin-bottom: 10px;
        color: $color-theme-main;
        border-bottom: 2px solid $color-theme-main;
    }

    &__submit {
        margin-top: 40px;
    }

    &__submit-condition {
        margin-top: 10px;
        text-align: center;
        color: $color-theme-gray;
        font-weight: $font-weight-thin;
    }

    &__label{
        margin-bottom: 5px;
    }
}

.form-validation {
    margin-top: -20px;
    margin-bottom: 40px;

    border: 1px solid $color-validation-error;
    background-color: $color-validation-fill;
    border-radius: 3px;
    padding: 10px;

    display: flex;

    &__logo {
        color: $color-validation-error;

        font-size: 28px;
    }

    &__errors {
        flex: 1;

        padding-left: 18px;
        color: $color-validation-error;
        font-size: 16px;
        font-weight: $font-weight-thin;
        line-height: 28px;
    }
}

.form__label + .form__input {
    margin-bottom: 25px;
}


@media screen and (max-width: 1200px) {
    .form__label{
        margin-top: 20px;
    }
}