<div id="modalNewTask" class="modal">
    <div class="modal__content">
        <div class="modal__content__header">
            <span class="modal__content__header__close">&times;</span>

            <h2>#Nouvelle tâche</h2>
        </div>
        <div class="modal__content__body">
            <form class="form" action="{% url 'tasks:create_task' %}" method="post">
                {% csrf_token%}
                <div class="wrapper">
                    <div class="row">
                        <div class="column-6">
                            <label for='name' class="form__label">#Nom de la tâche</label>
                            <input id='name' name='name' type="text" class="form__input text-input" placeholder="#Nom de la tâche" />

                            <label for='description' class="form__label">#Description de la tâche</label>
                            <textarea id='description' name='description' type="text" class="form__input textarea" placeholder="#Description de la tâche"></textarea>
                        </div>
                        <div class="column-6">
                            <label for='project' class="form__label">#Project</label>
                            <input id='project' name='project' type="text" class="form__input text-input" placeholder="#Project" />

                            <label for='user' class="form__label">#Assigné</label>
                            <input id='user' name='user' type="text" class="form__input text-input" placeholder="#Assigné" />

                            <label for='labels' class="form__label">#Catégories</label>
                            <input id='labels' name='labels' type="text" class="form__input text-input" placeholder="#Catégories" />
                        </div>
                    </div>
                </div>
                <input name="next" type="hidden" value="{{request.path}}"/>

                <button type='submit' class="form__submit button button--add button--full">#Ajouter la tâche</button>
            </form>
        </div>
    </div>
</div>