<div id="modalEditTask{{task.id}}" class="modal">
    <div class="modal__content">
        <div class="modal__content__header">
            <span class="modal__content__header__close">&times;</span>

            <h2>#Éditer : {{task.name}}</h2>
        </div>
        <div class="modal__content__body">
            <p>
                Insérer ici un formulaire
            </p>
            <p>
                Reiciendis consequuntur magni quas neque in itaque. Soluta voluptate exercitationem facilis inventore. At in ipsa maxime et. Rerum assumenda placeat ab quisquam dolorem animi consequatur.
            </p>
            <p>
                Rem cum ut aut accusantium modi sapiente labore. Voluptatum voluptas nemo aut quaerat perspiciatis necessitatibus qui atque. Maxime repellat et laborum illo error reprehenderit in. Id ad odio neque explicabo porro magnam. Praesentium tempore quisquam aperiam est aperiam. Occaecati quisquam fuga tenetur qui repellendus.
            </p>
            <p>
                Veniam consectetur rerum eos quisquam ut. Est ipsa sit velit rem sed sequi. Quod dicta possimus ex. Omnis autem atque error iste.
            </p>
            <p>
                Consequatur rerum sed ab harum fuga. Sit sed eos quae quo sapiente qui. Quasi eaque quos accusantium placeat quasi voluptas ab quia.
            </p>
            <p>
                Minus fuga dignissimos cumque et impedit assumenda. Libero est nam ad vero ipsam et. Accusamus ea reiciendis quod.
            </p>
        </div>
    </div>
</div>