{% extends "base.html" %}
{% load staticfiles %}

{% block content %}
<h1>
    #Mes tâches
</h1>
<div class="content">
    <div class="table-menu">
        <a href="#" class="table-menu__item" id="triggerModalNewTask">
            <i class="fa fa-plus" aria-hidden="true"></i>
            Ajouter une tâche
        </a>
    </div>

    <table class="table">
        <thead>
            <tr>
                <td class="table__column--no-width"></td>
                <td>
                    #Tâches
                </td>
                <td>#Projets</td>
                <td>#Date de fin</td>
                <td class="table__column--no-width"></td>
            </tr>
        </thead>
        {% for task in task_list %}
        <tr>
            <td>
                {% if task.priority %}
                <span class="label label--circle" title="#Priorité haute">
                    {{ task.priority }}
                </span>
                {% endif %}
            </td>
            <td>
                <a href="#">
                    {{ task.name }}
                </a>
            </td>
            <td>
                <a href="#">
                    {{ task.project }}
                </a>
            </td>
            <td>
                {{ task.end_date|date:'d M Y'|default:"-" }}
            </td>
            <td>
                <a href="#" title="#Éditer ce projet" id="triggerModalEditTask{{task.id}}">
                    <i class="fa fa-edit" aria-hidden="true"></i>
                </a>
            </td>
        </tr>
        {% endfor %}

    </table>

    <!------------------------
    MODAL TO ADD A NEW TASK
    ------------------------->
    {% include 'tasks/_modal_new_task.html' %}

    <!------------------------
    MODAL TO EDIT A TASK
    ------------------------->
    {% for task in task_list %}
    {% include 'tasks/_modal_edit_task.html' with task=task %}
    {% endfor %}

</div>
{% endblock %}

{% block extrajs %}
<script src="{% static 'js/modal.js' %}"></script>
<script>
    initModal('modalNewTask', 'triggerModalNewTask');

    {% for task in task_list %}
    initModal('modalEditTask{{task.id}}', 'triggerModalEditTask{{task.id}}');
    {% endfor %}
</script>
{% endblock %}