{% load staticfiles %}
<!DOCTYPE html>
<html>
    <head>
        <title>ColabTasks</title>
        <meta name="description" content="Gestionnaire de tache collaborative">
        <meta name="author" content="RignonNoel">
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <base href="/">
        <link rel="stylesheet" href="{% static 'css/style.css' %}">
        <link rel="stylesheet" href="{% static 'external/fontAwesome/css/font-awesome.min.css' %}">

        <!-- Polyfill(s) for older browsers -->
        <script src="{{ ANGULAR_URL }}node_modules/core-js/client/shim.min.js"></script>

        <script src="{{ ANGULAR_URL }}node_modules/zone.js/dist/zone.js"></script>
        <script src="{{ ANGULAR_URL }}node_modules/reflect-metadata/Reflect.js"></script>
        <script src="{{ ANGULAR_URL }}node_modules/systemjs/dist/system.src.js"></script>

        <script src="{{ ANGULAR_URL }}systemjs.config.js"></script>
        {# Write your django logics here #}
        <script>
            window.ANGULAR_URL = "{{ ANGULAR_URL }}";
            System.import('/ng/app/main').catch(function(err){
                console.error(err);
            });
        </script>
    </head>

    <body>
        {% include 'nav_top.html' %}
        {% include 'nav_left.html' %}
        <my-app>Loading...</my-app>
    </body>
</html>
